.taskpane-reporter{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 7px;
  padding: 1em;
  gap: 1em;

  .head {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    padding: 0 0 1em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);

    .title {
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1rem;
      color: #dedede;
    }

    .description {
      font-size: 0.85rem;
      color: #c9c9c9;
      max-width: 90%;
    }
  }

  .consent {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5em;
    color: #b7b7b7;
  }
  button {
    border: 1px solid rgba(255, 255, 255, 0.27);
    transition: all 0.2s;
    cursor: pointer;
    background-image: url("../../../assets/button-gradient.png");
    color: white;
    height: 2.5em;
    width: 100%;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
  }
  button:hover, button:active{
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(137, 105, 255, 0.56) 0px 18px 36px -18px inset;
  }
}